<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    
    <link rel="stylesheet" href="../views/css/login.css">
</head>

<body>
    <!-- Navbar -->
    <%- include("./partials/navbar")  %> 
    
    <h1>login</h1><br>

    <div>
        <form>
            <input type="text" placeholder="username" name="username"><br>
            <input type="password" placeholder="password" name="password">
            <input type="submit">
        </form>
    </div>

</body>
</html>